.Car {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
#img1{
  background-image: url('/public/images/teset_1.png');
  border-radius: 20px;
}
#img2{
  background-image: url('/public/images/teset_1.png');
  border-radius: 20px;
}
#img3{
  background-image: url('/public/images/teset_1.png');
  border-radius: 20px;
}
#img4{
  background-image: url('/public/images/teset_1.png');
  border-radius: 20px;
}
#img5{
  background-image: url('/public/images/teset_1.png');
  border-radius: 20px;
}

#img6{
  background-image: url('/public/images/teset_1.png');
  border-radius: 20px;
}
